/* General Reset and Typography */
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 500;
}

/* Header Styles */
#header {
  background: linear-gradient(90deg, #1a73e8 0%, #4285f4 100%);
  transition: all 0.5s ease;
  z-index: 997;
  top: 0;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  height: 109px;
  position: fixed;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header.header-scrolled {
  top: 0;
  box-shadow: 0px 4px 20px rgba(25, 119, 204, 0.3);
}

#header .logo {
  font-size: 30px;
  margin-top: 15px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #ffffff;
  text-decoration: none;
}

#header .logo img {
  max-height: 250px;
}

/* HeaderNav Styles */
.navbar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navbar ul {
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.navbar li {
  position: relative;
  margin: 0 15px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
  transition: color 0.3s, background 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffffff;
  /* background: rgba(255, 254, 254, 0.44); */
  /* background: rgba(255, 255, 255, 0.2); */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Mobile Navigation Toggle */
.mobile-nav-toggle {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: color 0.5s;
  margin-right: 10px;
  margin-top: -18px;
}

.mobile-nav-toggle:hover {
  color: #1977cc;
}

/* Responsive Styles */
@media (max-width: 991px) {
  #header .logo img {
    max-height: 80px;
    margin-top: 35px;
  }

  .mobile-nav-toggle {
    display: block;
    margin-top: -61px;
  }

  .navbar ul {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  #header {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  #header .logo img {
    max-height: 80px;
    margin-top: 35px;
  }

  .profileImage img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }

  .appointment-btn {
    margin-top: -25px;
    padding: 6px 18px;
    font-size: 14px;
  }
}

/* Popover Styles */
.nav-popover h5 {
  font-size: 18px;
  margin-bottom: 0;
  color: #1977cc;
}

.nav-popover a {
  margin: 0;
  color: #1977cc;
}

/* Profile Image Styles */
.profileImage img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.profileImage img:hover {
  transform: scale(1.1);
}

/* Mobile Menu Styles */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
  justify-content: center;
  align-items: center;
}

.mobile-menu.active {
  display: flex;
}

.mobile-menu-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu-nav li {
  margin-bottom: 10px;
}

.mobile-menu-nav a {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: color 0.3s;
}

.mobile-menu-nav a:hover {
  color: #4285f4;
}

/* Mobile Menu Close Button */
.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

/* Hide Header */
.hideTopHeader {
  display: none !important;
  transition: all 1s ease !important;
  height: 100px;
}

.stickyHeader {
  top: 0 !important;
  transition: all 0.1s ease !important;
}

/* Appointment Button */
.appointment-btn {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
  color: #ffffff;
  background: #1977cc;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: background 0.3s, color 0.3s;
  font-size: 16px;
  display: inline-block;
  margin-left: 230px;
  margin-bottom: 15px;
  text-align: center;
}

.appointment-btn:hover {
  background: #ececec;
  color: #1977cc;
}

/* Dropdown Styles */
.navbar .dropdown ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: all 0.3s ease;
}

.navbar .dropdown ul li {
  min-width: 200px;
  padding: 10px 15px;
}

.navbar .dropdown ul a {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  padding: 10px;
  transition: color 0.3s;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #1977cc;
}

.navbar .dropdown:hover>ul {
  display: block;
  opacity: 1;
}

@media (max-width: 1366px) {
  #header .logo img {
    max-height: 80px;
    margin-top: 35px;
  }

  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 768px) {
  #header .logo img {
    max-height: 100px; 
    margin-top: 25px; 
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar li {
    margin: 5px 0;
  }

  .navbar a {
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
  }

  .profileImage img {
    margin-left: 0;
    margin-top: -55px;
  }
  .appointment-btn {
    margin-top: -16px; /* Lowering the value to position the button down */
    padding: 6px 18px;
    font-size: 14px;
  }
}

/* Mobile Menu Navigation */
.mobile-menu-nav {
  list-style: none;
  font-size: 1.2rem;
  color: #1977cc !important;
  padding: 0;
  margin: 0;
}

.mobile-menu-nav li {
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 15px;
  background: linear-gradient(135deg, #ffffff 0%, #f2f2f2 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobile-menu-nav li:hover {
  background: linear-gradient(135deg, #f9f9f9 0%, #ececec 100%);
  transform: translateY(-3px);
}

.mobile-menu-nav .icon {
  font-size: 1.3rem;
  margin-right: 15px;
  color: #4285f4;
  transition: color 0.3s, transform 0.3s;
}

.mobile-menu-nav li:hover .icon {
  color: #1977cc;
  transform: scale(1.1);
}

.mobile-menu-nav li a {
  flex: 1;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  color: #1977cc;
  text-decoration: none;
  transition: color 0.3s;
}

.mobile-menu-nav li:hover a {
  color: #4285f4;
}

/* Drawer Body Styling */
.ant-drawer-body {
  background-color: #f9f9f9;
  padding: 20px;
  overflow: auto;
}

/* Responsive Styles for Mobile Menu */
@media (max-width: 768px) {
  .mobile-menu-nav {
    padding: 10px;
  }

  .mobile-menu-nav li {
    padding: 15px 20px;
  }

  .mobile-menu-nav .icon {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .mobile-menu-nav li a {
    font-size: 1.3rem;
  }
}
